/* 
* CASCADING STYLE SHEET
* SITESTYLE.CSS
*
* Author: Daniel JM Edwards
*/

/*
Colour Scheme:
Background Colour: #FFFF99
Red: #CC0000
Blue:#599CB3

padding/margin: TOP RIGHT BOTTOM LEFT;
*/

html, body {
	margin:0;
	padding:0;
	height:100%;
	background:#FFFF99;
	color: #00439E;
	text-align: justify;
	font-family: Calibri, Tahoma, Helvetica, Verdana, Arial, sans-serif;
	font-size: 1em;
	background-image: url('images/RitzCinemaGraphics_MainBG.png');
	background-position: center;
	background-repeat: repeat-y;
}

/*headings*/
h1, h2, h3 {
	font-family: Rockwell, Courier New Bold, Lucida Console, Monaco, monospace;
	font-weight: 100;
	display: inline;
	margin: 0;
	padding: 0;

}

h1 {
	padding-top: 0;
	font-size: 2em;
	color: #CC0000;
}

h2 {
	font-size: 1.25em;
	color: #CC0000;
}

/*main page element divs*/
.header {
	background-image: url('images/RitzCinemaGraphics_Header.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	font-family: Rockwell, "Times New Roman", Times, serif;
	color: #CC0000;
	text-align: center;
	height:200px;
	margin: 0 auto;
}

.wrapper {
	margin: 0 auto;
	width: 800px;
}

.home {
	height: 145px;
	width: 500px;
	position: relative;
	margin: 0 auto;
}

.home:hover {
	cursor: pointer;
}

.main {
	padding: 0px 15px 5px 15px;
	background-color: #599CB3;
	border-style: solid;
	border-width: 1px;
	border-color: #A4C9A7;
	border-bottom-style: none;
	border-top-style: none;
}

.picture {
	text-align: center;
}

.picture img {
	max-width: 550px;
}

.footer {
	padding: 5px 15px 5px 15px;
	background-color: #00439E;
	color: #599CB3;
	border-style: solid;
	border-width: 1px;
	border-color: #A4C9A7;
	border-bottom-style: none;
	
	border-top-width: 3px;
	border-top-color: #A4C9A7;
	
	text-align: center;
}

.footer img {
	max-width: 768px;
}

.footer .advertisements img {
	max-height: 60px;
}

.disclaimer {
	font-size: 0.5em;
}

label {
	width: 200px;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

input {

}

/*navigation items in the header div*/
.header a:visited, .header a:link, .navLink {
	text-decoration: none;
	font-family: Rockwell, "Times New Roman", Times, serif;
	font-size: 1.5em;
}

.header a:hover, .header .currentNavLink {
	color: #599CB3;
}

/*links*/
a:link, a:visited {
	color: inherit;
}

/*formatting divs*/
.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.clear {
	clear: both;
}

.centre {
	text-align: center;
}

/*social icons*/
.facebook {
	background-image: url('images/icons/facebookSprite.png');
	background-position: 0px 0px;
	float: right;
	margin-top: 7px;
	height: 36px;
	width: 35px;
}

.twitter {
	background-image: url('images/icons/twitterSprite.png');
	background-position: 0px 0px;
	float: right;
	margin-top: 5px;
	height: 37px;
	width: 37px;
}

.facebook:hover {
	background-position: 35px 0px;
}

.twitter:hover {
	background-position: 37px 0px;
}

/*sliding new items*/
.slideOpen {
	cursor: pointer;
	padding-bottom: 3px;
	background-image: url('images/RitzCinemaGraphics_HorizontalSeparator.png');
	background-position: bottom;
	background-repeat: no-repeat;
}

.slideOpen .content {
	display: none;
}

/*scrolling panel components*/
.scrollable {
	position:relative;
	overflow:hidden;
	width: 765px;
	height:345px;
}

.scrollable .items {
	width:1600px;
	position:absolute;
}

.items .element {
	width: 765px;
	float:left;
}

.topPanel {
	padding-bottom: 5px;
}

.topPanelHeading {
	float: left;
	width: 355px;
	text-align: center;
	padding-bottom: 5px;
}

.rightPanel {
	padding: 5px 5px 5px 5px;
	height: 300px;
	width: 380px;
	float: right;
	overflow: auto;
}

.rightPanel img {
	height: 30px;
}

.rightPanel .cert {
	height: 60px;
	float:right;
}

.leftPanel {
	width: 360px;
	height: 300px;
	float: left;
	background-image: url('images/RitzCinemaGraphics_Separator.png');
	background-position: right;
	background-repeat: no-repeat;
	text-align: center;
}

.leftPanel img {
	max-height: 300px;
	max-width: 360px
}

/*
padding/margin: TOP RIGHT BOTTOM LEFT;
*/